/* ROOT */

body {
    background-color: var(--primary-white);
}



/* SECTIONS */

#entrance {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--first-tint);
}

#main {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--primary-white);
}



/* ENTRANCE */

#entrance-header {
    display: flex;
    width: 100%;
    justify-content: center;
}

#entrance-header > img {
    padding: 2.5em 0;
    width: 96px;
}

#entrance-modale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(25% - 5em);
    margin: 1.5em auto;
    padding: 2.5em;
    border-radius: 1.5em;
    background-color: var(--secondary-dark-blue);
    box-shadow: var(--shadow);
}

#entrance-hey {
    font-family: "Post No Bills Jaffna Bold", serif;
    font-size: 64px;
    font-weight: 900;
    color: var(--primary-white);
}

#entrance-label {
    margin-top: .75em;
    font-family: "Nunito", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: var(--white);
}

#entrance-paragraph {
    margin-top: 3em;
    font-family: "Nunito Light", sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: var(--white);
}

#entrance-buttons {
    margin-top: 1em;
    font-family: "Post No Bills Jaffna", serif;
    font-size: 40px;
}

#entrance-buttons > button {
    width: 96px;
    height: 96px;
    margin: .5em 1em;
    border: 0;
    border-radius: 2em;
    background-color: var(--white);
    font-family: "Post No Bills Jaffna Bold", serif;
    font-size: 40px;
    color: var(--secondary-dark-blue);
    cursor: pointer;
}

#entrance-buttons > button:hover {
    background-color: var(--primary-pink);
}

#validate-entrance:hover {
    background-image: url("../img/beer.gif");
    background-position: center;
}

#entrance-illus {
    position: absolute;
    bottom: 0;
}



/* NAVBAR */

#navbar {
    width: 100%;
}

#navbar > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}

#navbar > ul > li {
    padding: 1em 1.5em;
}

#navbar > ul > li > a {
    font-family: 'Nunito', sans-serif;
    color: var(--first-tint);
    font-size: 18px;
    text-decoration: none;
}

.navbar-link {
    font-weight: 300;
}

.navbar-active-link {
    font-weight: 600;
}



/* JUMBOTRON */

#collage-bottle {
    position: absolute;
    z-index: 2;
    height: 800px;
    margin-left: 250px;
}

#collage-pink-leaf {
    position: absolute;
    z-index: 0;
    margin-top: 120px;
    margin-left: 140px;
}

#collage-white-leaf{
    position: absolute;
    z-index: 1;
    margin-top: 330px;
    margin-left: 170px;
}

#collage-right-bird {
    position: absolute;
    margin-top: 10px;
    margin-left: 160px;
}

#collage-left-bird {
    position: absolute;
    margin-top: 650px;
    margin-left: 650px;
}

#collage-zig-zag {
    position: absolute;
    margin-top: 0;
    margin-left: 360px;
}


#presentation {
    display: flex;
    flex-direction: column;
    width: calc(40% - 4em);
    padding: 2em;
    margin: 2em auto;
    transform: translateY(1000px);
    opacity: 0;
}

#presentation-title {
    margin-top: 0.75em;
    font-family: "Post No Bills Jaffna Bold", serif;
    font-size: 140px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    color: var(--primary-blue);
}

#presentation-description {
    margin-top: 1em;
}

#presentation-description > p {
    margin-top: 2em;
    font-family: "Nunito Light", serif;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

#presentation-rafters {
    margin: 1em auto;
    width: 96px;
}



/* SLOGAN */

#slogan {
    overflow: hidden;
}

#slogan-background > img {
    width: 120%;
    height: 80em;
}

#slogan-background:before {
    position: absolute;
    content: url("../img/boat.png");
    margin-top: -220px;
    margin-left: 80%;
}

#slogan-text {
    position: absolute;
    width: 50%;
    margin: -850px 0 0 25%;
    font-family: "Nunito Light", sans-serif;
    font-size: 64px;
    text-align: center;
    color: var(--white);
    line-height: 96px;
}

#slogan-instagram-logo {
    display: block;
    margin: 1.5em auto;
}

#slogan-instagram-posts {
    display: flex;
    margin-top: -350px;
    align-items: center;
    justify-content: center;
}

.instagram-post {
    width: 300px;
    padding: 15px;
}



/* RECIPE */

#recipe {
    display: flex;
    justify-content: center;
    margin-top: 10em;
}

#recipe-grey-blob {
    margin: auto;
}

#recipe-bottle {
    position: absolute;
}

.recipe-ingredient {
    display: flex;
    position: absolute;
    align-items: center;
    font-family: "Nunito Light", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
}


.recipe-bold {
    font-family: Nunito, sans-serif;
    font-weight: 600;
}

/* CULTIVATED */

#recipe-cultivated {
    margin-top: 180px;
    margin-left: -450px;
}

#recipe-cultivated img {
    width: 96px;
}

#recipe-cultivated p {
    width: 120px;
    text-align: right;
    margin-top: 16px;
}

/* FRUITS */

#recipe-fruits {
    margin-top: 150px;
    margin-left: 360px;
}

#recipe-fruits  img {
    position: absolute;
    width: 64px;
    margin-top: 80px;
    margin-left: 180px;
}

#recipe-fruits  p {
    margin-left: 1em;
    width: 150px;
}

/* BREWING */

#recipe-brewing {
    margin-top: 420px;
    margin-left: -450px;
}

#recipe-brewing  img {
    width: 40px;
}

#recipe-brewing  p {
    margin-left: 1em;
    width: 120px;
}



/* ARTICLE */

#article {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8em;
}

#article-bottle {
    margin-left: 25%;
}

#article-bottle > img {
    height: 800px;
}

#article-content {
    margin-top: -4em;
    margin-left: 2em;
    width: 35%;
}

#article-heading {
    display: flex;
    justify-content: space-between;
}

#article-heading > span {
    font-family: "Post No Bills Jaffna Bold", serif;
    font-weight: 700;
    font-size: 32px;
    color: var(--first-tint);
    text-transform: uppercase;
}

#article-heading-quantity {
    margin-left: 8px;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-transform: lowercase;
}

.article-section {
    margin-top: 3em;
}

.article-section > span {
    margin-top: 1em;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.article-section > p {
    margin-top: .5em;
    font-family: "Nunito Light", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

#article-add-to-cart {
    margin-top: 3em;
}

#article-add-to-cart > label {
    font-family: "Nunito Light", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

#article-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#input-number-container {
    display: flex;
    margin-top: 1em;
    width: 48px;
    height: 48px;
    padding: 8px;
    border: 1px solid var(--primary-grey);
    border-radius: 1em;
}

#input-number {
    width: 24px;
    font-size: 18px;
    border: 0;
}

#input-number:focus {
    outline: 0;
}

#input-number-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--primary-grey);
}

#input-number-buttons > span {
    border: none;
    width: 24px;
    text-align: center;
    font-family: Nunito, sans-serif;
    font-size: 24px;
    color: var(--first-tint);
    cursor: pointer;
    user-select: none;
    outline: 0;
}

#button-buy {
    margin-top: 1em;
    margin-left: 2em;
}

#button-buy > button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em 4em;
    border: none;
    border-radius: .5em;
    background-color: var(--first-tint);
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--white);
    cursor: pointer;
}

#button-buy > button:hover {
    background-image: url("../img/beer.gif");
    background-position: center;
    background-size: cover;
}

#article-add-to-cart > p {
    width: 500px;
    margin-top: 1em;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 18px;
}
