/* ROOT */

body {
    background-color: var(--primary-white);
}



/* SECTIONS */

#entrance {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--first-tint);
}

#main {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--primary-white);
}



/* ENTRANCE */

#entrance-header {
    display: flex;
    width: 100%;
    justify-content: center;
}

#entrance-header > img {
    padding: 2.5em 0;
    width: 96px;
}

#entrance-modale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(25% - 5em);
    margin: 1.5em auto;
    padding: 2.5em;
    border-radius: 1.5em;
    background-color: var(--secondary-dark-blue);
    box-shadow: var(--shadow);
}

#entrance-hey {
    font-family: "Post No Bills Jaffna Bold", serif;
    font-size: 64px;
    font-weight: 900;
    color: var(--primary-white);
}

#entrance-label {
    margin-top: .75em;
    font-family: "Nunito", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: var(--white);
}

#entrance-paragraph {
    margin-top: 3em;
    font-family: "Nunito Light", sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: var(--white);
}

#entrance-buttons {
    margin-top: 1em;
    font-family: "Post No Bills Jaffna", serif;
    font-size: 40px;
}

#entrance-buttons > button {
    width: 96px;
    height: 96px;
    margin: .5em 1em;
    border: 0;
    border-radius: 2em;
    background-color: var(--white);
    font-family: "Post No Bills Jaffna Bold", serif;
    font-size: 40px;
    color: var(--secondary-dark-blue);
    cursor: pointer;
}

#entrance-buttons > button:hover {
    background-color: var(--primary-pink);
}

#validate-entrance:hover {
    background-image: url("../img/beer.gif");
    background-position: center;
}

#entrance-illus {
    position: absolute;
    bottom: 0;
}



/* NAVBAR */

#navbar {
    width: 100%;
    z-index: 1;
}

#navbar > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}

#navbar > ul > li {
    padding: 1em 1.5em;
}

#navbar > ul > li > a {
    font-family: 'Nunito', sans-serif;
    color: var(--first-tint);
    font-size: 18px;
    text-decoration: none;
}

.navbar-link {
    font-weight: 300;
}

.navbar-active-link {
    font-weight: 600;
}



/* JUMBOTRON */


#steps {
    z-index: 2;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(1000px);
}

#steps > ul > li {
    margin: 2em .5em;
}

#steps > ul > li > a {
    text-decoration: none;
}

.circle {
    width: 16px;
    height: 16px;
    border: 4px solid var(--third-tint);
    border-radius: 12px;
    transition: ease 0.5s;
}

.circle > span {
    display: flex;
    justify-content: right;
    opacity: 0;
    width: 160px;
    margin-top: -6px;
    margin-left: -180px;
    font-family: 'Post No Bills Jaffna Bold', sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: right;
    color: var(--third-tint);
    text-decoration: none;
    transition: ease 0.5s;
}

.circle:hover > span {
    opacity: 1;
}

.current {
    background-color: var(--third-tint);
}



/* JUMBOTRON */

#collage-blob {
    z-index: 0;
    opacity: 0;
    position: absolute;
    top: -10%;
    left: -50%;
    transform: rotateZ(180deg);
    width: 80%;
    overflow: hidden;
}

#collage-bottle {
    position: absolute;
    z-index: 2;
    height: 800px;
    margin-left: 250px;
}

#collage-pink-leaf {
    position: absolute;
    z-index: 0;
    margin-top: 120px;
    margin-left: 140px;
}

#collage-white-leaf{
    position: absolute;
    z-index: 1;
    margin-top: 330px;
    margin-left: 170px;
}

#collage-right-bird {
    position: absolute;
    margin-top: 10px;
    margin-left: 160px;
}

#collage-left-bird {
    position: absolute;
    margin-top: 650px;
    margin-left: 650px;
}

#collage-zig-zag {
    position: absolute;
    margin-top: 0;
    margin-left: 360px;
}

/* PRESENTATION */

#presentation {
    display: flex;
    flex-direction: column;
    width: calc(40% - 4em);
    padding: 1em 2em;
    margin: 0 auto;
    transform: translateY(1000px);
    opacity: 0;
}

#presentation-title {
    margin-top: 0.75em;
    font-family: "Post No Bills Jaffna Bold", serif;
    font-size: 140px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    color: var(--primary-blue);
}

#presentation-description {
    margin-top: 1em;
}

#presentation-description > p {
    margin-top: 2em;
    font-family: "Nunito Light", serif;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

#presentation-rafters {
    margin: 1em auto;
    width: 96px;
    cursor: pointer;
    transition: ease .2s;
}

#presentation-rafters:hover {
    opacity: .6;
}



/* SLOGAN */

#slogan {
    z-index: 1;
    overflow: hidden;
}

#slogan-background > img {
    width: 120%;
    height: 80em;
}

#slogan-background:before {
    position: absolute;
    content: url("../img/boat.png");
    margin-top: -220px;
    margin-left: 80%;
}

#slogan-illustrations  > img {
    position: absolute;
}

#slogan-illustration-1 {
    width: 96px;
    margin-top: -750px;
    right: 40px;
}

#slogan-illustration-2 {
    width: 72px;
    margin-top: -650px;
    left: 10px;
}

#slogan-illustration-3 {
    width: 72px;
    margin-top: -350px;
    right: 40px;
}

#slogan-illustration-4 {
    width: 72px;
    margin-top: -350px;
    left: 30px;
}

#slogan-illustration-4 {
    width: 72px;
    margin-top: -350px;
    left: 20px;
}

#slogan-text {
    position: absolute;
    width: 50%;
    margin: -850px 0 0 25%;
    font-family: "Nunito Light", sans-serif;
    font-size: 64px;
    text-align: center;
    color: var(--white);
    line-height: 96px;
}

#slogan-instagram-logo {
    display: block;
    margin: 1.5em auto;
}

#slogan-instagram-posts {
    display: flex;
    margin-top: -350px;
    align-items: center;
    justify-content: center;
}

.instagram-post {
    width: 300px;
    padding: 15px;
}



/* RECIPE */

#recipe {
    display: flex;
    justify-content: center;
    margin-top: 10em;
}

#recipe:before {
    position: absolute;
    width: 200px;
    height: 200px;
    margin-left: -950px;
    margin-top: 250px;
    background-image: url("../img/factory.png");
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
}

#recipe:after {
    position: absolute;
    width: 350px;
    height: 350px;
    margin-left: 600px;
    margin-top: 300px;
    background-image: url("../img/nice.png");
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
}

#recipe-grey-blob {
    margin: auto;
}

#recipe-bottle {
    position: absolute;
}

.recipe-ingredient {
    display: flex;
    position: absolute;
    align-items: center;
    font-family: "Nunito Light", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
}


.recipe-bold {
    font-family: Nunito, sans-serif;
    font-weight: 600;
}

/* CULTIVATED */

#recipe-cultivated {
    margin-top: 180px;
    margin-left: -450px;
}

#recipe-cultivated img {
    width: 96px;
}

#recipe-cultivated p {
    width: 120px;
    text-align: right;
    margin-top: 16px;
}

/* FRUITS */

#recipe-fruits {
    margin-top: 150px;
    margin-left: 360px;
}

#recipe-fruits  img {
    position: absolute;
    width: 64px;
    margin-top: 80px;
    margin-left: 180px;
}

#recipe-fruits  p {
    margin-left: 1em;
    width: 150px;
}

/* BREWING */

#recipe-brewing {
    margin-top: 420px;
    margin-left: -450px;
}

#recipe-brewing  img {
    width: 40px;
}

#recipe-brewing  p {
    margin-left: 1em;
    width: 120px;
}



/* ARTICLE */

#article {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8em;
}

#article-bottle {
    margin-left: 25%;
}

#article-bottle > img {
    height: 800px;
}

.bottle-bubbles-hidden:before {
    opacity: 0;
    position: absolute;
    background-image: url("../img/bottle-bubbles.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    width: 80px;
    height: 200px;
    content: '';
    margin-top: -140px;
    margin-left: 130px;
    transition-duration: 1s;
}

.bottle-bubbles-shown:before {
    opacity: 1;
    transition-duration: 1s;
}

#article-content {
    margin-top: -4em;
    margin-left: 2em;
    width: 35%;
}

#article-heading {
    display: flex;
    justify-content: space-between;
}

#article-heading > span {
    font-family: "Post No Bills Jaffna Bold", serif;
    font-weight: 700;
    font-size: 32px;
    color: var(--first-tint);
    text-transform: uppercase;
}

#article-heading-quantity {
    margin-left: 8px;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-transform: lowercase;
}

.article-section {
    margin-top: 3em;
}

.article-section > span {
    margin-top: 1em;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.article-section > p {
    margin-top: .5em;
    font-family: "Nunito Light", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

#article-add-to-cart {
    margin-top: 3em;
}

#article-add-to-cart > label {
    font-family: "Nunito Light", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

#article-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#input-number-container {
    display: flex;
    margin-top: 1em;
    width: 48px;
    height: 48px;
    padding: 8px;
    border: 1px solid var(--primary-grey);
    border-radius: 1em;
}

#input-number {
    width: 24px;
    font-size: 18px;
    border: 0;
}

#input-number:focus {
    outline: 0;
}

#input-number-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--primary-grey);
}

#input-number-buttons > span {
    border: none;
    width: 24px;
    text-align: center;
    font-family: Nunito, sans-serif;
    font-size: 24px;
    color: var(--first-tint);
    cursor: pointer;
    user-select: none;
    outline: 0;
}

#button-buy {
    margin-top: 1em;
    margin-left: 2em;
}

#button-buy > button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em 4em;
    border: none;
    border-radius: .5em;
    background-color: var(--first-tint);
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--white);
    cursor: pointer;
}

#button-buy > button > img {
    margin-left: 1em;
}

#button-buy > button:hover {
    background-image: url("../img/beer.gif");
    background-position: center;
    background-size: cover;
}

#article-add-to-cart > p {
    margin-top: 2em;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 18px;
}



/* BOTTOM INFOS */

#bottom-infos {
    z-index: 1;
    display: flex;
    justify-content: space-around;
    margin-top: 6em;
    width: 40%;
    margin-left: 30%;
}

.bottom-infos-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom-info-image {
    border-radius: 5em;
    padding: 2em;
    box-shadow: var(--shadow);
}

.bottom-infos-item img {
    width: 56px;
    height: 56px;
}

.bottom-infos-item span {
    width: 200px;
    margin-top: 2em;
    font-family: "Nunito", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}



/* BOTTOM */

#bottom {
    margin-top: -20%;
    line-height: 0;
}

#bottom img {
    width: 100%;
    height: 70vh;
}



/* FOOTER */

footer {
    background-color: var(--first-tint);
    overflow: hidden;
}

footer:before {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 10%;
    margin-top: -210px;
    background-image: url("../img/googles.png");
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
}

#footer-content {
    margin-top: 4em;
    margin-left: 0;
    padding-bottom: 4em;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--first-tint);
}

#footer-logo {
    display: flex;
    align-items: center;
}

.footer-subtitle {
    font-family: "Nunito Light", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: var(--white);
}

 /*ADDRESS*/

.footer-address-item {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-address-item > img {
    width: 30px;
}

.footer-address-item > span {
    margin-left: 1em;
    font-family: "Nunito Light", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
}

/* FOOTER MENU LINKS */

#footer-links {
    display: flex;
    flex-direction: column;
}

.footer-link-item {
    margin-top: 1em;
    font-family: "Nunito Light", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--white);
}


/* FOOTER CREDENTIALS */

#footer-credentials {
    padding: 1em 0 4em 0;
    display: flex;
    width: 90%;
    margin-left: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Nunito Light", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
}

#footer-credentials > a {
    text-decoration: underline;
    color: var(--white);
    margin-top: 1em;
}

#footer-credentials > span {
    margin-top: 1em;
}

#footer-bottles {
    width: 100%;
    height: 200px;
    margin-top: -200px;
    overflow: hidden;
}

#footer-bottles img {
    overflow: hidden;
    height: 200px;
    margin-top: 50px;
    right: 0;
}

#footer-bottles img:nth-child(1) {
    float: right;
    transform: rotateZ(0deg);
}

#footer-bottles img:nth-child(2) {
    float: right;
    transform: rotateZ(-30deg);
    margin-top: 60px;
    margin-right: -35px;
}

#footer-bottles img:nth-child(3) {
    float: right;
    transform: rotateZ(-60deg);
    margin-top: 80px;
    margin-right: -45px;
}






/* MEDIA QUERIES */



/* ENTRANCE */

@media screen and (max-width: 1770px) {
    #entrance-modale {
        width: calc(40% - 5em);
    }
}


@media screen and (max-width: 1300px) {
    #entrance-illus {
        display: none;
    }

    #entrance-modale {
        width: calc(60% - 5em);
    }
}

@media screen and (max-width: 800px) {
    #entrance-illus {
        display: none;
    }

    #entrance-modale {
        width: calc(90% - 3em);
        padding: 1.5em;
    }
}

@media screen and (max-width: 500px) {
    #entrance-hey {
        font-size: 48px;
    }

    #entrance-label {
        font-size: 22px;
    }

    #entrance-paragraph {
        margin-top: 1em;
        font-size: 18px;
    }

    #entrance-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0;
        font-size: 24px;
    }

    #entrance-buttons > button {
        width: 72px;
        height: 72px;
        font-size: 28px;
        padding: 0;
    }
}

@media screen and (max-height: 650px) {
    #entrance-header > img {
        padding: 1em 0;
        width: 72px;
    }
}



/* MAIN */

@media screen and (max-width: 1835px) {
    #slogan-text {
        width: 70%;
        margin-left: 15%;
    }
}

@media screen and (max-width: 1630px) {
    #slogan-background:before {
        margin-top: -200px;
        margin-left: 65%;
    }

    #collage-bottle {
        margin-left: 150px;
    }

    #collage-pink-leaf {
        margin-left: 40px;
    }

    #collage-white-leaf{
        margin-left: 70px;
    }

    #collage-right-bird {
        margin-left: 60px;
    }

    #collage-left-bird {
        margin-left: 550px;
    }

    #collage-zig-zag {
        margin-left: 260px;
    }

    #article-bottle {
        margin-left: 20%;
    }
}

@media screen and (max-width: 1430px) {
    #collage-left-bird {
        margin-top: 180px;
        margin-left: 1060px;
    }

    #steps {
        right: 40px;
    }
}

@media screen and (max-width: 1310px) {
    #collage-bottle {
        margin-left: 90px;
    }

    #collage-pink-leaf {
        margin-left: -10px;
    }

    #collage-white-leaf{
        margin-left: 10px;
    }

    #collage-right-bird {
        margin-left: 0;
    }

    #collage-zig-zag {
        margin-left: 200px;
    }

    #presentation {
        width: calc(45% - 4em);
    }

    #slogan-text {
        font-size: 54px;
        width: 70%;
        margin-left: 15%;
    }

    #article-bottle {
        margin-left: 15%;
    }
}

@media screen and (max-width: 1220px) {
    #presentation-title {
        font-size: 110px;
    }

    #collage-bottle {
        height: 500px;
        margin-top: 100px;
        margin-left: 80px;
    }

    #collage-pink-leaf {
        width: 80px;
        margin-top: 250px;
        margin-left: 55px;
    }

    #collage-white-leaf{
        width: 80px;
        margin-top: 330px;
        margin-left: 70px;
    }

    #collage-right-bird {
        margin-top: 10px;
        margin-left: 60px;
    }

    #collage-left-bird {
        margin-left: 850px;
    }

    #collage-zig-zag {
        margin-top: 120px;
        margin-left: 160px;
        width: 140px;
    }

    #recipe:before {
        width: 200px;
        height: 200px;
        margin-left: -800px;
        margin-top: 250px;
    }

    #recipe:after {
        margin-left: 550px;
    }

    #button-buy > button {
        padding: .5em 2em;
        font-size: 20px;
    }
}

@media screen and (max-width: 1110px) {
    #steps {
        top: 0;
        right: 20px;
    }

    #steps > ul > li {
        margin: 5em .5em;
    }

    .circle > span {
        display: none;
    }

    .circle:hover > span {
        display: none;
    }

    .circle {
        width: 14px;
        height: 14px;
    }

    #collage-left-bird {
        margin-left: 80%;
    }

    #slogan-text {
        width: 80%;
        margin-top: -1050px;
        margin-left: 10%;
        font-size: 42px;
    }

    #slogan-instagram-posts {
        position: absolute;
        margin-top: -600px;
        width: 100%;
    }

    .instagram-post {
        width: 240px;
        padding: 15px;
    }

    #recipe {
        margin-top: 6em;
    }

    #article-bottle {
        margin-left: 10%;
    }

    #bottom-infos {
        margin-top: 2em;
    }

    #bottom {
        display: none;
    }

    footer {
        margin-top: 4em;
    }

    footer:before {
        display: none;
    }
}


@media screen and (max-width: 1000px) {
    #presentation {
        width: calc(55% - 4em);
    }

    #presentation-title {
        font-size: 80px;
    }

    #presentation-description > p {
        font-size: 20px;
    }

    #recipe:before {
        width: 250px;
        height: 250px;
        margin-left: -600px;
        margin-top: -70px;
    }

    #recipe:after {
        width: 300px;
        height: 300px;
        margin-left: 510px;
        margin-top: 350px;
    }

    #article {
        flex-direction: column;
    }

    #article-bottle {
        margin-left: 0;
    }

    #article-content {
        width: 80%;
        margin-top: 4em;
        margin-left: 0;
    }
}

@media screen and (max-width: 960px) {
    #collage-bottle {
        display: none;
    }

    #collage-pink-leaf {
        display: none;
    }

    #collage-white-leaf {
        display: none;
    }

    #collage-right-bird {
        display: none;
    }

    #collage-left-bird {
        display: none;
    }

    #collage-zig-zag {
        display: none;
    }

    #presentation {
        width: calc(90% - 4em);
    }

    #slogan-background:before {
        display: none;
    }

    #button-buy > button {
        padding: 1em 2em;
    }

    .bottom-info-image {
        padding: .5em;
    }

    .bottom-infos-item img {
        width: 48px;
        height: 48px;
    }

    .bottom-infos-item span {
        width: 150px;
        margin-top: 1em;
        font-size: 20px;
    }
}

@media screen and (max-width: 875px) {
    #slogan-instagram-posts {
        margin-top: -500px;
    }

    .instagram-post {
        width: 180px;
        padding: 26px;
    }

    #recipe {
        justify-content: center;
    }

    #recipe:before {
        width: 200px;
        height: 200px;
        margin-left: -350px;
        margin-top: -70px;
    }

    #recipe:after {
        width: 160px;
        height: 160px;
        margin-left: 340px;
        margin-top: 450px;
    }

    #recipe-grey-blob {
        width: 100%;
        height: 600px;
    }

    #recipe-bottle {
        opacity: .1;
    }

    .recipe-ingredient {
        display: flex;
    }

    /*!* CULTIVATED *!*/

    #recipe-cultivated {
        width: 90%;
        margin-top: 180px;
        margin-left: 5%;
        flex-direction: row;
    }

    #recipe-cultivated img {
        width: 80px;
    }

    #recipe-cultivated > p {
        width: 100%;
        margin-top: 0;
        text-align: left;
    }

    /*!* FRUITS *!*/

    #recipe-fruits {
        width: 90%;
        margin-top: 285px;
        margin-left: 0;
        flex-direction: row-reverse;
    }

    #recipe-fruits img {
        position: revert;
        width: 80px;
        margin-top: 0;
        margin-left: 0;
    }

    #recipe-fruits  p {
        width: 100%;
        text-align: right;
        margin-right: 1em;
    }

    /*!* BREWING *!*/

    #recipe-brewing {
        width: 90%;
        margin-top: 390px;
        margin-left: 5%;
        flex-direction: row;
    }

    #recipe-brewing  img {
        position: revert;
        width: 30px;
        margin-top: 0;
        margin-left: 0;
    }

    #recipe-brewing  p {
        width: 100%;
        text-align: left;
    }

    #article-add-to-cart > p {
        margin-top: 2em;
        font-size: 16px;
    }
}

@media screen and (max-width: 700px) {
    #navbar > ul > li {
        padding: 1em .5em;
    }

    #navbar-logo {
        width: 64px;
    }

    #slogan-text {
        font-size: 32px;
        line-height: 56px;
    }

    #slogan-instagram-posts {
        margin-top: -750px;
        flex-direction: column;
    }

    .instagram-post {
        width: 150px;
        padding: 16px;
    }

    #article {
        margin-top: 10em;
        flex-direction: column;
    }

    #article-bottle > img {
        height: 400px;
    }

    .bottle-bubbles-hidden:before {
        width: 50px;
        height: 150px;
        margin-top: -80px;
        margin-left: 60px;
    }

    .bottom-infos-item span {
        width: 120px;
        font-size: 16px;
    }
}

@media screen and (max-width: 575px) {
    #navbar > ul > li {
        padding: 1em .25em;
    }

    #navbar > ul > li:nth-child(3) {
        display: none;
    }

    #steps {
        top: 0;
        right: 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .circle {
        width: 12px;
        height: 12px;
    }

    #slogan-instagram-logo {
        margin: .5em auto;
    }

    #recipe:before {
        display: none;
    }

    #recipe:after {
        display: none;
    }

    #article-heading {
        flex-direction: column;
    }

    #footer-content {
        flex-direction: column;
        align-items: center;
    }

    #footer-address, #footer-links {
        width: 80%;
        margin-top: 4em;
    }

    #footer-bottles {
        display: none;
    }
}

@media screen and (max-width: 470px) {
    #recipe-cultivated {
        width: 90%;
        margin-top: 150px;
        margin-left: 5%;
        flex-direction: row;
    }

    #recipe-fruits {
        width: 90%;
        margin-top: 300px;
        margin-left: 0;
        flex-direction: row-reverse;
    }

    #recipe-brewing {
        width: 90%;
        margin-top: 450px;
        margin-left: 5%;
        flex-direction: row;
    }
}

@media screen and (max-width: 400px) {
    #presentation-title {
        font-size: 62px;
    }


    #slogan-text {
        margin-top: -1100px;
        font-size: 26px;
    }

    #slogan-instagram-logo {
        width: 40px;
    }

    #slogan-instagram-posts {
        margin-top: -800px;
    }
}

@media screen and (max-width: 340px) {
    #slogan-instagram-posts {
        margin-top: -750px;
    }

    #article-add-to-cart {
        text-align: center;
    }

    #button-buy {
        margin: 1em 0;
        padding: 0;
    }

    #article-actions {
        flex-direction: column;
    }
}
