body {
    background-color: var(--primary-white);
}

#entrance {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--first-tint);
}

#main {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--primary-white);
}
